* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
:root {
  --accent: #ff66c4;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
body {
  font-family: "Playfair Display", serif;
}
p {
  font-family: "Poppins", sans-serif;
}
/* HEADER */
.logo {
  width: 200px;
  height: 65px;
  object-fit: contain;
}
.header-nav-link {
  font-size: 17px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.header-nav-link:hover {
  scale: 1.1;
  color: var(--accent);
}
/* MAIN */
.main {
  padding: 20px;
}
/* Hero */
.hero {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: var(--box-shadow);
}

.hero-description {
  margin-top: 80px;
  text-align: center;
}
.hero-first-heading {
  font-size: 46px;
  font-weight: 700;
}
.hero-second-heading {
  font-size: 96px;
  font-weight: 700;
}
.hero-third-heading {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.7;
}
.designed-text {
  position: relative;
  display: inline-block;
  z-index: 0;
}
.designed-text::before {
  content: "";
  position: absolute;
  background-color: var(--accent);
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0 100%, 100% 75%, 100% 100%, 0 100%);
}
.hero-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.hero-links a {
  border-radius: 4px;
  padding: 20px 15px;

  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.hero-links a:hover {
  transform: scale(1.1);
}
.btn-style-coloured {
  background: var(--accent);
  box-shadow: var(--box-shadow);
  color: #fff;
}

.btn-style-light {
  color: var(--accent);
  border: 1px solid var(--accent);
}

.projects {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.intro-projects {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.intro-projects p {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.intro-projects p::before {
  content: "";
  height: 1px;
  width: 500px;
  background-color: var(--accent);
  display: block;
}
.intro-projects p::after {
  content: "";
  height: 1px;
  width: 500px;
  background-color: var(--accent);
  display: block;
}
.projects img {
  width: 400px;
  height: 400px;
  object-fit: contain;
}
.project1,
.project2,
.project3 {
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  text-align: center;
}
.projects-heading {
  font-size: 25px;

  margin-top: 30px;
  padding: 10px;
}

.arrow {
  font-size: 26px;
  transform: translatey(11px);
  color: var(--accent);
}

.to-project {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  transition: all 0.3s ease-in-out;
}
.to-project:hover {
  scale: 1.1;
}
.to-project h2 {
  color: #000;
  opacity: 0.8;
}
.footer {
  margin-top: 80px;
  padding: 20px;
  color: #f3efef;
  background-color: var(--accent);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.social-icons {
  display: flex;
  transform: translateY(-2.5px);
  column-gap: 20px;
}
/* MEDIA QUERIES */
@media (max-width: 1064px) {
  .main {
    padding: 30px;
  }
  .hero-second-heading {
    font-size: 70px;
  }
  .intro-projects p::before {
    width: 400px;
  }

  .intro-projects p::after {
    width: 400px;
  }

  .projects img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .projects {
    column-gap: 10px;
  }
  .intro-projects p::before {
    width: 300px;
  }

  .intro-projects p::after {
    width: 300px;
  }

  .projects img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 900px) {
  .projects {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .projects img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 827px) {
  .hero {
    padding-bottom: 20px;
  }
  .hero-img {
    display: none;
  }
  .hero-description {
    margin-top: 40px;
  }
  .hero-first-heading {
    font-size: 40px;
  }
  .hero-second-heading {
    font-size: 50px;
  }
  .hero-third-heading {
    font-size: 24px;
  }
  .intro-projects p::before {
    width: 250px;
  }

  .intro-projects p::after {
    width: 250px;
  }
  .projects img {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 733px) {
  .intro-projects p::before {
    width: 200px;
  }

  .intro-projects p::after {
    width: 200px;
  }
}

@media (max-width: 623px) {
  .intro-projects p::before {
    width: 152px;
  }

  .intro-projects p::after {
    width: 152px;
  }
}

@media (max-width: 524px) {
  .intro-projects p::before {
    width: 100px;
  }

  .intro-projects p::after {
    width: 100px;
  }
  .hero-first-heading {
    font-size: 35px;
  }
  .hero-second-heading {
    font-size: 40px;
  }
  .hero-third-heading {
    font-size: 20px;
  }
  .intro-projects p {
    font-size: 16px;
  }
  .projects img {
    width: 200px;
    height: 200px;
  }
  .footer {
    flex-direction: column;
  }
}
@media (max-width: 400px) {
  .hero-first-heading {
    font-size: 23px;
  }
  .hero-second-heading {
    font-size: 31px;
  }
  .hero-third-heading {
    font-size: 13px;
  }
  .intro-projects p::before {
    width: 60px;
  }

  .intro-projects p::after {
    width: 60px;
  }
}
